/*General styles*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Jost", sans-serif;
}


.section-title h2 {
    font-size: 32px;
    color: #37517e;
}

.section-title h2::before {
    content: '';
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
}

.section-title h2::after {
    content: '';
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #47b2e4;
    bottom: 0;
    left: calc(50% - 20px);
}

.container{
    max-width: 88%;
}

/*Media Query for General Styles*/
@media screen and (max-width:575px) {
   .container {
        max-width: 100%;
    }
}

/*Page Loading*/
.page-load{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #37517e;
    z-index: 11111;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-load span{
    width: 50px;
    height: 50px;
    background: #37517e;
    border-radius: 50%;
    border: 5px solid #37517e;
    border-left-color: #fff;
    border-right-color: #fff;
    animation: loading 1s linear infinite ;
}

@keyframes loading {
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}

}


/*Header*/

header {
    padding: 10px 0;
    background: #37517e;
}

.nav-container {
    width: 85%;
    margin: auto;
}

header .logo {
    font-size: 30px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
}

header .logo a {
    text-decoration: none;
    color: white;
}

/*Navbar*/

.navbar {
    margin-left: auto;
}

.navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.navbar ul li {
    padding: 10px 28px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
}

.navbar ul li a:hover, .navbar .active {
    color: #47b2e4;
    transition: 0.3s;
}

/*End nav*/

.navbar .get-started-btn {
    color: white;
    border: 1px solid #47b2e4;
    border-radius: 25px;
    margin-left: 30px;
    padding: 8px 12px;
    text-decoration: none;
    transition: all 0.5s;
}

.navbar .get-started-btn:hover {
    background: #47b2e4;
    color: white;
    text-decoration: none;
}

/*Open or hide nav toogle*/

.toggle {
    display: none;
    position: relative;
    width: 35px;
    height: 35px;
}

.toggle::before {
    content: "\2630";
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 22px;
    text-align: center;
    color: #fff;
}

.toggle.active::before {
    content: "\2716";
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 22px;
    font-weight: lighter;
    text-align: center;
    color: #fff;
}

/*End Header*/

/*Home Section*/

#home {
    background: #37517e;
    height: 75vh;
}

#home .container {
    max-width: 88%;
    padding-top: 72px;
}

#home h1 {
    margin: 0 0 25px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
}

#home h2 {
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 50px;
    font-size: 24px;
}

#home .get-started-btn {
    display: inline-block;
    font-family: "Jost", sans-serif;
    padding: 10px 28px 11px 28px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px 0 0 0;
    color: #fff;
    background: #47b2e4;
    text-decoration: none;
}

#home .play-video-btn {
    display: flex;
    align-items: center;
    transition: 0.5s;
    margin: 10px 0 0 25px;
    color: #fff;
    text-decoration: none;
}

#home .play-video-btn i {
    font-size: 32px;
    transition: 0.3s;
    margin-right: 8px;
}

#home img {
    width: 100%;
    height: 100%;
    transition: all 0.5s;
    animation: top-down 2s ease-in-out infinite alternate-reverse;
}


@keyframes top-down {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(15px);
    }
}

/*Media Query for Home Section*/

@media screen and (max-width:992px) {
    /*Navigation bar*/
    .navbar {
        display: none;
    }
    .toggle {
        display: block;
    }
    .navbar.active {
        position: fixed;
        top: 50px;
        left: 0;
        right: 0;
        width: 95%;
        height: 90%;
        background: #fff;
        display: block;
        margin: auto;
        border-radius: 10px;
        animation: fadein 1s;
    }
    .navbar ul {
        flex-direction: column;
        justify-content: flex-start;
    }
    .navbar ul li {
        padding-left: 5px;
    }
    .navbar ul li a {
        color: #37517e;
    }
    .navbar .get-started-btn {
        color: #37517e;
        width: 100%;
        display: block;
        border-width: 2px;
        font-weight: 600;
        margin: 10px 0;
    }
    /*Navigation fade in animation*/
    @keyframes fadein {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    /*End of Navigation bar*/
    /*Home Section*/
    #home {
        height: 100vh;
    }
    #home .container {
        height: 75%;
        width: 75%;
        text-align: center;
        padding-top: 30px;
    }
    #home img {
        width: 50%;
        animation: none;
    }
    /*End Home Section*/
}

@media screen and (max-width: 768px) {
    #home .container {
        height: 75%;
        width: 75%;
        text-align: center;
        padding-top: 30px;
    }
    #home img {
        width: 70%;
        animation: none;
    }
    #home h1 {
        font-size: 30px;
        line-height: 36px;
    }
    #home h2 {
        font-size: 19px;
    }
}

@media screen and (max-width:575px) {
    #home .container {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
      
    }
    #home img {
        width: 80%;
    }
}

/*End Home Section*/



/*Scroll To Top Icon*/
.scroll-to-top {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 45px;
    height: 45px;
    margin: 15px;
    background-color: #47b2e4;
    color: #fff;
    border-radius: 50%;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}

.scroll-to-top i {
    font-size: 25px;
}


/*Clients Section*/

#clients img {
    width: 50%;
    filter: grayscale(100);
    padding: 15px 0;
    transition: all 0.4s ease-in-out;
}

#clients img:hover {
    filter: none;
    transform: scale(1.1);
}

/*Media Query for Clients Section*/

@media (max-width: 768px) {
    #cliens img {
        max-width: 40%;
    }
}

/*End of Clients Section*/


/* about section */



#about p i {
    vertical-align: middle;
    font-size: 15px;
    color: #47b2e4;
    padding-right: 5px;
}

.btn-outline-learn {
    color: #47b2e4;
    background-color: transparent;
    border: 1px solid #47b2e4;
    padding: 10px 35px;
    transition: all 0.5s;
}

.btn-outline-learn:hover {
    color: #fff;
    background-color: #47b2e4;
}


@media screen and (max-width:575px) {
   #about .txt-container {
        padding:35px 0 0 0;
     }

    #about .txt-container.learn-more{
        padding:25px 0 0 0;
        
    }
 }

/*end about section */

/* collapse section */

#sec-collapse {
    background-color: #F3F5FA;
}

#sec-collapse .txt-container h3 {
    font-size: 32px;
    color: #37517e;
}

#sec-collapse .txt-container p {
    font-size: 14px;
    color: #848484;
}

.card-header {
    background-color: #fff;
    border: 0;
}

#sec-collapse .card {
    border: 1px solid #dddc;
    border-radius: 5px;
}

#sec-collapse .collapse-list button {
    transition: color 0.5s;
    font-size: 16px;
}

#sec-collapse .collapse-list button.collapsed {
    color: #000;
}

#sec-collapse .collapse-list button span, #sec-collapse .collapse-list button, #sec-collapse .collapse-list button:hover {
    color: #47b2e4;
}

#sec-collapse .btn:focus {
    box-shadow: 0 0 0 transparent!important;
}

#sec-collapse .card-body {
    padding: 15px 28px;
}

/*end collapse section */


/* skills */
.bg-progress{
    background-color: #4668A2;
}
.text-progress{
    color: #4668A2;
}
.progress{
    border-radius: 0;
    height: 10px;

}
/*Portfolio*/
.nav-item{
    margin: 8px 5px;
}
.nav-pills .nav-link{  
    color: #444444;
    border-radius: 30px;
    padding: 3px 20px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    transition: 0.3s all;
}
.nav-pills .nav-link:hover{
    color: #fff;
    background-color: #47B2E4;
}
.nav-pills .nav-link.active{  
    color: #fff;
    background-color: #47B2E4;
}
.overlay{
  opacity: 0;
  left: 0;
  right: 0;
  bottom: -15px;
  transition: all ease-in-out 0.3s;
  background: rgba(55, 81, 126, 0.8);
  padding: 10px 15px;
  color:#fff;
}
.heading-portfolio h4{
    font-size: 18px;
    font-weight: 600;
}
.heading-portfolio p{
    font-size: 15px;
}
.item-1:hover .overlay{
    opacity: 1;
}
.item-1:hover img{
    transform: scale(1.2);
}
.icons-portfolio{
    position: relative;
    top: 15px;
}
.icons-portfolio a{
    color: #fff;
    padding-right: 6px;
    transition: 0.3s;
}
.icons-portfolio a:hover{
    color: #4074ce;
}
.items-portfolio{
    padding: 10px;
    padding-right: 15px;
    overflow: hidden;
}
#portfolio img{
    transition: 0.5s;
}


/*End of portfolio*/


/*Team Section*/

.section-team{
    background-color: rgb(245, 245, 245);
}

.img-card{
    background-color: transparent;
    position: relative;
    width: 50%;
}
.img-card img{
    border-radius: 50%;
    width: 100%;
}

.section-team .content{
    padding: 15px;
}
.member{

    background:white;
    margin-top: 10px;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
    position: relative;
    bottom: 0;
    right: 0;
    left: 0;
    transition-delay: .2s;
   transition-duration: 1s ;
   transition-property:bottom;
}
.member:hover{
    bottom: 15px;
}
.content h4{
    color: #37517e;
}

.content p{
    font-size: 14px;
    width: 100%;
}
.media a{
    width: 30px;
    height: 30px;
    border-radius:50%;
    background-color: rgb(235, 240, 255);
    color:#37517e;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width:600px){
    .img-card{
        width: 90%;
    }
    
}


/*End Team Section*/